.input-group > .input-group-prepend > .custom-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

label .toggle {
    margin-right: 0.5rem;
}

h4 {
    padding-bottom: 1rem;
}

.text-truncate {
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.client-tip {
    opacity: 0.6;
}
